<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(53, 44, 44);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<div class="studentdetail" style="width: 100%; height: 15%; background-color: rgb(56, 67, 113);">
  <div class="nameofapp" style="color:rgb(231, 164, 171);font-weight:bold; height: 100%; font-size:40px; letter-spacing: 2px; display:flex; justify-content: center; align-items: center;">Student Management System
  </div>

</div>
<body>
   

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="/student">Add Student</a></li>
  <li><a href="/record">Student Record</a></li>
  <li><a href="/attendance">Mark Attendance</a></li>
  <li><a href="/attendancerecord">Attendance Record</a></li>
</ul>
 <div style="width:100%; height:75%; overflow:hidden; display:flex; justify-content: center; align-items: center;">
    <img src="https://cdn.student.com/bundles/microapp-static-pages/images/public/about/about-us-hero-image-t.jpg" width="100%;">
 </div>
</body>
<div class="studentdetail" style="width: 200%;  background-color: rgb(180,187,206);">





</div>
</html>



